formatter.name: pretty
suites:
    devicedetector_suite:
        namespace: DeviceDetectorIO\DeviceDetector

extensions:
    - PhpSpec\Extension\CodeCoverageExtension
code_coverage:
  blacklist:
    - src/DeviceDetectorIO/DeviceDetector/Tests
  format:
    - clover
  output:
    clover: build/logs/clover.xml