<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="true"
        syntaxCheck="false"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="DeviceDetector Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>.composer</directory>
                <directory>spec</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>